<div style="display: flex; flex-direction: column; background: rgb(20, 24, 39); height: 100vh; justify-content: center;">
    <div style="background-color: rgb(225, 116, 65); align-self:flex-start; padding: 1rem; width: 33.3%;">
        <h1>Contador: {{ contador }}</h1>

        <button class="btn btn-primary m-2" (click)="sumar()">+</button>
        <button class="btn btn-primary m-2" (click)="restar()">-</button>
        <hr>
    </div>

    <div style="align-self:center; background-color: rgb(255, 154, 1); padding: 1rem; width: 33.3%;">
        <app-hijo1 [contadorHijo]="contador" (contadorEnvio)="contador = $event"></app-hijo1>
        <hr>
    </div>

    <div style="align-self:flex-end; background-color: rgb(55, 173, 0); padding: 1rem; width: 33.3%;">
        <app-hijo2 [contaadorHijo]="contador" (contadorEnvio2)="contador = $event"></app-hijo2>
        <hr>
    </div>

</div>